@page
@model ContactModel
@{
    ViewData["Title"] = "Clubs & Organizations";
}
<h3>@Model.Message</h3>

<address>
    LakeWood Campus<br />
    4500 Steilacoom BLVD SW<br />
    Lakewood, WA 98499-4004<br />
    <abbr title="Phone">P:</abbr>
    253.589.5800
</address>

<address>
    <strong>Student Leadership & Involvement Coordinator:</strong> <a href="mailto:Support@example.com">dominic.viola@cptc.edu</a><br />
    <hr />
    <strong>Club OOPS:</strong>
    <ul>
        <li><abbr title="E-Mail">E:</abbr> <a href="mailto:Joseph.Ortiz@cptc.edu">Joseph Ortiz</a></li>
        <li><abbr title="Phone">P:</abbr> <a href="tel:+1-253-589-5580">253.589.5580</a></li>
    </ul>
    <strong>Mechatronics Club:</strong>
    <ul>
        <li><abbr title="E-Mail">E:</abbr> <a href="mailto:carl.wenngren@cptc.edu">Carl Wenngren</a></li>
        <li><abbr title="Phone">P:</abbr> <a href="tel:+1-253-589-5561">253.589.​​​​​​​5561</a></li>
    </ul>
    <strong>Etc:</strong>
    <ul>
        <li><abbr title="E-Mail">E:</abbr> <a href="mailto:">Etc</a></li>
        <li><abbr title="Phone">P:</abbr> <a href="tel:+1">Etc</a></li>
    </ul>
</address>
